.row-layout {
  display: flex;
}
.my-tasks-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.my-tasks {
  background-color: rgba(255, 255, 255, 1);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: min-content;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.group {
  background-color: var(--ig-secondary-700);
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 10px 20px;
  align-self: stretch;
  flex-shrink: 0;
}
.left {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.right {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 100%;
  height: 93.3%;
  min-width: 1440px;
  min-height: 93.3%;
  max-width: 100%;
  max-height: 93.3%;
}
.group_2 {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  overflow: hidden;
  position: relative;
  padding: 28px 16px;
  align-self: stretch;
  flex-shrink: 0;
}
.lists {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 8px 0 0;
}
.group_3 {
  background-color: var(--ig-surface-500);
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 14px 40px 34px;
  flex-grow: 1;
  flex-basis: 0px;
}
.group_4 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.left_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 90px;
  height: 28px;
  min-width: min-content;
  min-height: 28px;
  max-width: 90px;
  max-height: 28px;
}
.right_1 {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.group_5 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.group_6 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0px;
}
.group_7 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.title-subtitle {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.title-subtitle_1 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.group_8 {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
}
.release-calendar {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.avatar {
  --ig-size: var(--ig-size-small);
  position: relative;
}
.icon {
  color: #FFFFFFFF;
}
.icon_1 {
  color: var(--ig-gray-900);
}
.icon_2 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFFFF;
  position: relative;
  min-width: min-content;
}
.icon_3 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-primary-500);
}
.icon_4 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-700);
}
.title {
  color: var(--ig-gray-900);
  position: relative;
}
.subtitle {
  text-align: center;
  color: var(--ig-gray-900);
  position: relative;
}
.icon_5 {
  color: var(--ig-secondary-500);
}
.title_1 {
  color: var(--ig-gray-900);
  position: relative;
  width: 100%;
  height: max-content;
  min-width: 90px;
  max-width: 100%;
}
.content {
  color: var(--ig-gray-900);
  position: relative;
  align-self: stretch;
}
.calendar {
  position: relative;
  width: 360px;
  min-width: 360px;
  max-width: 360px;
}
.title_2 {
  color: #000000FF;
  position: relative;
  align-self: stretch;
}
.icon_6 {
  color: var(--ig-gray-800);
}
.icon_7 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #E051A9FF;
}
.avatar_1::part(base) {
  background-color: transparent;
}
.avatar_2::part(base) {
  background-color: transparent;
}
.avatar_3::part(base) {
  background-color: transparent;
}
.avatar_4::part(base) {
  background-color: transparent;
}
.avatar_5::part(base) {
  background-color: transparent;
}
.avatar_6::part(base) {
  background-color: transparent;
}
.avatar_7::part(base) {
  background-color: transparent;
}
.avatar_8::part(base) {
  background-color: transparent;
}
.avatar_9::part(base) {
  background-color: transparent;
}
.avatar_10::part(base) {
  background-color: transparent;
}
.avatar_11::part(base) {
  color: var(--ig-gray-800);
  background-color: var(--ig-gray-400);
}
.avatar_12::part(base) {
  color: var(--ig-gray-800);
  background-color: var(--ig-gray-400);
}
.button {
  --ig-size: var(--ig-size-medium);
  position: relative;
  height: max-content;
}
.button_1::part(base) {
  color: #FFFFFFFF;
}
.button_2::part(base) {
  color: var(--ig-gray-900);
  background-color: var(--ig-surface-500);
}
.button_3::part(base) {
  color: var(--ig-secondary-500);
}
.button_4::part(base) {
  color: var(--ig-secondary-500);
}
.button_5::part(base) {
  color: var(--ig-secondary-500);
}
.button_6::part(base) {
  color: var(--ig-secondary-500);
}
.button_7::part(base) {
  color: var(--ig-secondary-500);
}
.button_8::part(base) {
  color: var(--ig-secondary-500);
}
.button_9::part(base) {
  color: var(--ig-secondary-500);
}
.button_10 {
  position: relative;
}
.button_10::part(base) {
  color: var(--ig-secondary-500);
  background-color: #FFFFFF00;
}
.nav-drawer {
  min-width: min-content;
  max-width: 68px;
  align-self: stretch;
  flex-shrink: 0;
}
.nav-drawer-item {
  position: relative;
  min-width: 0;
  min-height: 0;
}
.nav-drawer::part(main) {
  width: 68px;
}
.list {
  position: relative;
  width: 218px;
  min-width: 218px;
  max-width: 218px;
}
.list_1 {
  position: relative;
  align-self: stretch;
}
